## Ignore Visual Studio temporary files, build results, and more

# User-specific files
.vscode/
.vs/
*.user
*.suo

# Build results
bin/
obj/
publish/

# Rider project files
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker artifacts
**/Dockerfile
**/docker-compose*

# Others
*.db
*.bak
*.sqlite

# Ignore test coverage results
TestResults/
coverage/
